<launch>
        <!--
        <node pkg="warthog_main_package" type="gpsReceiver.py" name="gpsd"/>
        -->
        
        <node pkg="gpsd_client" type="gpsd_client" respawn="true" name="GPSReceiver"
        args="_host:=localhost _port:=2947 _use_gps_time:=false"/>
        <node pkg="gps_common" type="utm_odometry_node" respawn="true" name="LLtoUTM"/>
        <node pkg="warthog_main_package" type="fsm.py" required="true" output="screen" name="FSM"/>        
        <node pkg="rosserial_python" type="serial_node.py" respawn="true" name="BumperKillswitch" 
        args="\/dev\/ttyACM1"/>
        <node pkg="rosserial_python" respawn="true" type="serial_node.py" name="Gyro"
        args="\/dev\/ttyACM0"/>
        <node pkg="coneDetectorCV" type="coneDetector" respawn="true" name="openCVConeDetector"/>        
        
        <!--
        <node pkg="warthog_main_package" type="motor" name="MOTOR"/>
        <node pkg="controlRobo" type="motorController" name="motor"/>
        -->
</launch>